// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

/**
Example:
@include font-face('Roboto', '../fonts/RobotoRegular', null, null, woff2 woff);
@include font-face('Roboto', '../fonts/RobotoBold', 700, null, woff2 woff);
**/

// @include font-face('Angeline', '../fonts/Angeline', null, null, woff2 woff);

@font-face {
    font-family: 'Angeline';
    src: url(../fonts/AngelineVintage.woff) format('woff'),
     url(../fonts/AngelineVintage.woff2) format('woff2');
}
@font-face{
    font-family: 'Poppins_B';
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'Poppins_M';
    src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face{
    font-family: 'Poppins_SB';
    src: url(../../../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: 'Poppins_R';
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
.nav_text{
    font-family: 'Poppins_R';
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
h1{
    font-family: 'Poppins_B';
    font-size: 35px;
}
h2{
    font-family: 'Poppins_M';
    font-size: 33px;
}
h3{
    font-family: 'Poppins_SB';
    font-size: 27px;
}
h4{
    font-family: 'Poppins_M';
    font-size: 22px;
}
h5{
    font-family: 'Poppins_M';
    font-size: 17px;
}
h6{
    font-family: 'Poppins_M';
    font-size: 15px;
}
.text{
    font-family: 'Poppins_R';
    font-size: 14px;
}
.p_ban{
    font-size: 20px;
}
.text_ban{
    font-family: 'Poppins_B';
    font-size: 47px;
}
.subtit{
    font-family: 'Poppins_M';
    font-size: 20px;
}
.sp_text_1{
    font-family: 'Poppins_B';
    font-size: 35px;
    text-transform: uppercase;
}
.sp_text_2{
    font-family: 'Poppins_B';
    font-size: 62px;
    text-transform: uppercase;
    line-height: 50px;
}



