main{
    .selector_w{
        background-color: white;
        height: 50px;
        padding: 0 10px;
        border-radius: 5px;
        border: 0px;
        
    }
    .banner_img{
        position: relative;
        top: 90px;
        right: 50px;
    }
}