<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<main>
    <div class="container-fluid mt-4 bg_main_5">
        <div class="container">
            <div class="p-4">
                <div class="j_center flex-column p-5">
                    <h6 class="c_white p-2">04 Discounts</h6>
                    <h2 class="c_white">Our discount program</h2>
                    <p class="subtit text-center p-2 c_white">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates </p>
                </div>
                <div class="row p-5">
                    <div class="col-8 bg_main_3 b-shadow">
                        <div class="p-4">
                            <div class="row">
                                <div class="col-6 j_center flex-column p-3 card_b_b">
                                    <span class="c_orange text-center sp_text_1">
                                        4% 
                                        <br>
                                        off
                                    </span>
                                    <span class="text c_black text-center">
                                        for more than
                                    </span>
                                    <span class="c_blue text-center subtit">
                                        15 pages
                                    </span>
                                </div>
                                <div class="col-6 j_center flex-column p-3 card_b_lb">
                                    <span class="c_orange text-center sp_text_1">
                                        5% 
                                        <br>
                                        off
                                    </span>
                                    <span class="text c_black text-center">
                                        for more than
                                    </span>
                                    <span class="c_blue text-center subtit">
                                        20 pages
                                    </span>
                                </div>
                                <div class="col-6 j_center flex-column p-3">
                                    <span class="c_orange text-center sp_text_1">
                                        10% 
                                        <br>
                                        off
                                    </span>
                                    <span class="text c_black text-center">
                                        for more than
                                    </span>
                                    <span class="c_blue text-center subtit">
                                        50 pages
                                    </span>
                                </div>
                                <div class="col-6 j_center flex-column p-3 card_b_l">
                                    <span class="c_orange text-center sp_text_1">
                                        15% 
                                        <br>
                                        off
                                    </span>
                                    <span class="text c_black text-center">
                                        for more than
                                    </span>
                                    <span class="c_blue text-center subtit">
                                        100 pages
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="col-4 bg_main_1 p-3">
                        <div class="sp_line d-flex flex-column">
                            <h4 class="c_white text-center p-3">Try our service & get huge discounts</h4>
                            <div class="d-flex flex-column m-5">
                                <span class="sp_text_2 text-center c_lime">
                                    15%
                                    <br>
                                    off
                                </span>
                                <span class="text c_white text-center">for your first order</span>
                            </div>
                            <span class="text text-center c_white">
                                Use discount15 as discount code
                            </span>
                        </div>
                        <img id="balloon" src="../../../assets/img/Balloon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>