<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<main>
    <div class="container-fluid bg_main_3">
        <div class="container">
            <div class="row p-4">
                <div class="col-12 j_center flex-column p-5">
                    <h6 class="c_blue p-2">03 How it works</h6>
                    <h2 class="c_black text-center">Our Simple 4-Step Procedure</h2>
                </div>
                <div class="col-lg-3 d-none d-lg-flex col-6 a_card">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st1.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 1
                                </h5>
                                <p class="text-center text">
                                    Complete the short order form to buy a paper from our easy essay writing service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-flex col-6 a_card">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st2.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 2
                                </h5>
                                <p class="text-center text">
                                    We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-flex d-lg-none col-6 a_card">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st3.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 3
                                </h5>
                                <p class="text-center text">
                                    Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-flex d-lg-none col-6">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st4.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 4
                                </h5>
                                <p class="text-center text">
                                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-flex d-lg-none col-6 card_b_b">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st1.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 1
                                </h5>
                                <p class="text-center text">
                                    Complete the short order form to buy a paper from our easy essay writing service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-flex col-6 d-lg-none card_b_lb">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st2.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 2
                                </h5>
                                <p class="text-center text">
                                    We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-flex col-6 d-lg-none card_b_">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st3.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 3
                                </h5>
                                <p class="text-center text">
                                    Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-flex col-6 d-lg-none card_b_l">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st4.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 4
                                </h5>
                                <p class="text-center text">
                                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-sm-none card_b_b">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st1.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 1
                                </h5>
                                <p class="text-center text">
                                    Complete the short order form to buy a paper from our easy essay writing service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-sm-none card_b_b">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st2.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 2
                                </h5>
                                <p class="text-center text">
                                    We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-sm-none card_b_b">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st3.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 3
                                </h5>
                                <p class="text-center text">
                                    Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-sm-none">
                    <div class="bg_main_3">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="j_center p-4">
                                <img src="../../../assets/img/st4.png" alt="">
                            </div>
                            <div class="p-4">
                                <h5 class="text-center">
                                    Step 4
                                </h5>
                                <p class="text-center text">
                                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>