<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<main>
    <div class="container-fluid bg_main_3">
        <div class="container">
            <div class="row p-4 pt-5">
                <div class="j_bottom col-6 writer_bg">
                    <div class="j_center">
                        <img  src="../../../assets/img/Welcome_.png" alt="">
                    </div>
                </div>
                <div class="col-6 pl-3">
                    <div></div>
                    <span class="text c_blue">01  Welcome to Sitename</span>
                    <br>
                    <h1 style="font-size: 35px;" class="c_black mt-4">
                        Do you need essay help from a good writing service?
                    </h1>
                    <br>
                    <p class="text c_black text-justify">
                        If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service. 
                        <br> 
                        <br> 
                        Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>